body {
    background-color: gray;
}

#div1{
    height: 800px;
    width: 530px;
    border: 5px solid red;
}

#div2{
    height: 800px;
    width: 530px;
    border: 5px solid green;
}

#div3{
    height: 800px;
    width: 530px;
    border: 5px solid blue;
}

#div4{
    height: 800px;
    width: 530px;
    border: 5px solid yellow;
}

div{
    display: inline-block;    
}